In [38]:
a={'姓名':'賴宏瑋','性別':'男','作業分數':[80,95,100,90]}
b=a.setdefault('學號','M1129020')
a['作業分數'][1]=100
del a['作業分數'][0]
print(a)
print(type(a))
c=a.pop('作業分數')
d=sum(c)/3
print(d)
print(type(d))

{'姓名': '賴宏瑋', '性別': '男', '作業分數': [100, 100, 90], '學號': 'M1129020'}
<class 'dict'>
96.66666666666667
<class 'float'>